/* Color scheme is combo 932 found here: http://www.colorcombos.com/color-schemes/932/ColorCombo932.html */

body {
	background-color: #666666;
}
.calc-body {
	background-color: #BBBBBB;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;
}

.display {
	margin: 9px;
	padding-right: 4px;
	height: 25px;
	font-size: 21px;
	width: 176px;
	text-align: right;
	border-radius: 3px;
}

.button-area {
	padding: 12px;
	width: 152px;
	margin-left: auto;
	margin-right: auto;
}

.calc-btn {
	-moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #333333));
	background: -moz-linear-gradient(top, #666666 5%, #333333 100%);
	background: -webkit-linear-gradient(top, #666666 5%, #333333 100%);
	background: -o-linear-gradient(top, #666666 5%, #333333 100%);
	background: -ms-linear-gradient(top, #666666 5%, #333333 100%);
	background: linear-gradient(to bottom, #666666 5%, #333333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333',GradientType=0);
	background-color: #666666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: 500;
	padding: 6px 0px;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 35px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b665e;
	cursor: default;
}
.calc-btn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #666666));
	background: -moz-linear-gradient(top, #333333 5%, #666666 100%);
	background: -webkit-linear-gradient(top, #333333 5%, #666666 100%);
	background: -o-linear-gradient(top, #333333 5%, #666666 100%);
	background: -ms-linear-gradient(top, #333333 5%, #666666 100%);
	background: linear-gradient(to bottom, #333333 5%, #666666 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666',GradientType=0);
	background-color: #333333;
}
.calc-btn:active {
	position: relative;
	top: 1px;
}

.equals-btn:active {
	top: -16px;
}

.button-area .btn-row:last-child {
	position: relative;
	top: 0;
	height: 35px;
}

.button-area .btn-row:last-child .calc-btn {
	position: relative;
	top: -18px;
}

.button-area .btn-row:last-child .equals-btn {
	padding: 24px 0px 23px 0px;
	position: relative;
	top: -35px;
}

.op-btn {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FF9900), color-stop(1, #333333));
	background: -moz-linear-gradient(top, #FF9900 5%, #CC6600 100%);
	background: -webkit-linear-gradient(top, #FF9900 5%, #CC6600 100%);
	background: -o-linear-gradient(top, #FF9900 5%, #CC6600 100%);
	background: -ms-linear-gradient(top, #FF9900 5%, #CC6600 100%);
	background: linear-gradient(to bottom, #FF9900 5%, #CC6600 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9900', endColorstr='#CC6600',GradientType=0);
	background-color: #FF9900;
	border: 1px solid #FF9900;
	color: #FFFFFF;
	text-shadow: none;
}

.op-btn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #333333));
	background: -moz-linear-gradient(top, #CC6600 5%, #FF9900 100%);
	background: -webkit-linear-gradient(top, #CC6600 5%, #FF9900 100%);
	background: -o-linear-gradient(top, #CC6600 5%, #FF9900 100%);
	background: -ms-linear-gradient(top, #CC6600 5%, #FF9900 100%);
	background: linear-gradient(to bottom, #CC6600 5%, #FF9900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC6600', endColorstr='#FF9900',GradientType=0);
	background-color: #CC6600;
}

.clear-btn {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FF0000), color-stop(1, #333333));
	background: -moz-linear-gradient(top, #FF0000 5%, #D11800 100%);
	background: -webkit-linear-gradient(top, #FF0000 5%, #D11800 100%);
	background: -o-linear-gradient(top, #FF0000 5%, #D11800 100%);
	background: -ms-linear-gradient(top, #FF0000 5%, #D11800 100%);
	background: linear-gradient(to bottom, #FF0000 5%, #D11800 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#D11800',GradientType=0);
	background-color: #FF0000;
	border: 1px solid #800000;
	color: #FFFFFF;
	text-shadow: none;
}

.clear-btn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #D11800), color-stop(1, #333333));
	background: -moz-linear-gradient(top, #D11800 5%, #FF0000 100%);
	background: -webkit-linear-gradient(top, #D11800 5%, #FF0000 100%);
	background: -o-linear-gradient(top, #D11800 5%, #FF0000 100%);
	background: -ms-linear-gradient(top, #D11800 5%, #FF0000 100%);
	background: linear-gradient(to bottom, #D11800 5%, #FF0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D11800', endColorstr='#FF0000',GradientType=0);
	background-color: #D11800;
}